* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
  gap: 40px;
  display: flex;
  flex-flow: column wrap;
  font-family: Arial, Helvetica, sans-serif;
}
.divider {
  height: 5px;
  background-color: black;
}
span {
  font-weight: bold;
}
